# ====================[ 데이터 파일 무시 ] 용량 문제 및 보안=========

*.json
*.zip
*.csv
*.parquet
*.h5
*.hdf5
*.pkl
*.pickle
*.db
*.sqlite

====================[특정 폴더 및 파일 무시]====================

old/  # 'old' 이름의 모든 폴더 무시
new_Hoj_DB_V25.csv
new_Hoj_DB_V25_FULL.csv
MODELENGINE/HOJ_ENGINE/RESEARCH/MODELENGINE/RAW/stocks/kospi_data/

# ====================[ 파이썬/에디터 자동 생성 파일 ]====================

__pycache__/
*.pyc
.vscode/
.idea/
.DS_Store